Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-Login==0.2.11
Flask-Migrate==1.2.0
Flask-PageDown==0.1.5
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-WTF==0.10.3
Jinja2==2.7.3
Mako==1.0.0
Markdown==2.5.1
MarkupSafe==0.23
SQLAlchemy==0.9.8
Scrapy==0.24.4
Twisted==14.0.2
WTForms==2.0.1
Werkzeug==0.9.6
alembic==0.6.7
argparse==1.2.1
beautifulsoup4==4.3.2
bleach==1.4
cssselect==0.9.1
html5lib==0.999
itsdangerous==0.24
lxml==3.4.0
pyOpenSSL==0.14
queuelib==1.2.2
requests==2.4.3
six==1.8.0
w3lib==1.10.0
wsgiref==0.1.2
